

.wrapper {
   display: table;
   padding: 0;
   width: 20%;
   height: auto;
   display:inline-block;
   /*position: absolute;*/
}
.container {
   display: table-cell;
   vertical-align: middle;
}
.canvas-container {
   position: relative;
   max-width: 1024px;
   min-width: 320px;
   margin: 0 auto;
}
canvas {
   width: 100%;
   height: auto;
   background-color: pink;
}
